/*	
	Document   : style.css
	Author     : Eliza Witkowska (http://codebusters.pl/en/)
	Description: Stylesheet for CodeIgniter frontend language files editor.
*/
.box,.error,.msg{background:#f3f3ee;  border:1px solid #cccdc9; -webkit-box-shadow: 1px 1px 1px #d8ddd8; -moz-box-shadow: 1px 1px 1px #d8ddd8; box-shadow: 1px 1px 1px #d8ddd8; display:block; padding:15px;  margin-bottom:10px;border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; margin:10px;}
.box.language{width:98%; line-height:200%;}
.box.language .no-float input[type="submit"]{float:none; margin-left:0px;}
.box.language.listyle ul li{list-style:disc outside; margin-left:15px;}
.box li form input[type="submit"]{margin-left:10px;}
.box li{padding: 5px 0;}
.box.files li{border-bottom:1px solid #e8eedd;}
.box.files {width: 98%;}
.msg{background-color:#ccee97 !important; font-weight: bold;}
.error{background: #d44545 !important; color: #ffffff; font-weight: bold;}
input[type="text"],textarea{background: #f8f8f3;border: 1px solid #CCCDC9; padding: 4px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size: 12px; color:#333333;}
#create_file_form,#new_lang_form{margin-top:10px; border-top:1px dashed; padding-top:10px;}
.row{margin-top:10px; border-bottom:1px dashed #cccddd; padding-bottom:10px;}
.row input[type="text"],textarea{width:100%;}
.row input[type="text"].comment{width:400px;}
.row .comments label{padding-top:4px; margin-right:5px;}
.row .comments{margin-top:5px;}
.row .comments label,.row .comments input[type="text"]{color:#999;}
.row label{margin-bottom:5px; display:block; color:#437394; font-weight:bold;}
small{color:red;}
.delete_key{margin-bottom:5px; margin-right:5px;}
.pattern{margin-bottom:7px; color:#8b9297;}
.box.language a, .box.files a {
   background: #fff none repeat scroll 0 0;
    font-size: 20px;
    margin: auto;
    padding: 20px;
    position: relative;
    width: 100%;
}
.box.language form, .box.files form {
    float: right;
    position: relative;
}
.no_float_form form{
	float: none !important;
}
.no_float_form a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    float: none !important;
    padding: 0 !important;
}
.list_data {
    margin: auto !important;
    padding: 5px !important;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
}
.margin-btm{
	margin-bottom:25px;
	margin-top:10px;
}
