.View_MyPrint {
  background: url("images/print_icon.png") no-repeat scroll 0 0 transparent;
    float: right;
    font-size: 13px;
    font-weight: bold;
   
    margin-top: -18px !important;
    padding: 0 15px 5px 30px !important;
    text-align: left;
    vertical-align: middle;
/*position: absolute;
width: 164px;*/
}
#main_reserve h2 , #left h2{
	color:black !important;
}
.View_MyPrint>a{
	color:black !important;
}
#Reserve_Continer #left #quick_links li {
padding: 0 0 10px;
}
#Reserve_Continer #left {
float: left;
/*min-height: 200px;*/
overflow: hidden;
}
#Reserve_Continer #main_reserve {

padding-top: 0;
}
.requst_dtails_div:nth-child(2n+1){
	background: #f4f4f4 none repeat scroll 0 0;
}
.requst_dtails_div:nth-child(2n){
	background: #ffffff none repeat scroll 0 0;
}
.requst_dtails_div{
	margin: 0;
	text-align:left;
/*	overflow:hidden;*/
	padding:15px 0;
	font-size:16px;
}
.clsConSamll_Pro_Img_Big.col-md-2.col-xs-12.col-sm-3 {
    margin: 34px 22px;
    text-align: center;
}
.sugst_price {
background: #F0563D;
color: #FFFFFF;
font-family: 'roboto_slabregular';
border-radius: 20px;
text-transform: uppercase;
padding: 6px 15px;
font-size: 13px;
margin-left: 26px !important;
display: inline-block;
text-align: center;
}
.pop_hdr {
font-family: 'roboto_slabbold';
font-size: 18px;
text-align: left;
border-bottom: 1px solid #CCCCCC;
text-transform: uppercase;
}
.suggstn_pop ul {
overflow: hidden;
margin: 10px 0;
}
.suggstn_pop li {
margin: 15px 0;
}
.suggstn_pop p {
margin: 5px 0;
text-align: right;
}
.custom-dropdown-suggst {
display: inline-block;
position: relative;
vertical-align: middle;
width: 130px;
}
.custom-dropdown-suggst {
margin-left: 8px;
}
.custom-dropdown-suggst:before, .custom-dropdown-suggst:after {
content: "";
pointer-events: none;
position: absolute;
}
.custom-dropdown-suggst:after {
content: " ";
font-size: 0.625em;
height: 100%;
width: 37px;
margin-top: 0;
right: 0;
top: 0;
color: #fff;
background: #FFFFFF url(images/drpdwn_blue.png) no-repeat right center;
border-radius: 0px 5px 5px 0;
}
.custom-dropdown-suggst:before, .custom-dropdown-suggst:after {
content: "";
pointer-events: none;
position: absolute;
}
.custom-dropdown-suggst select {
padding: 7px 8px !important;
width: 100%;
}
.suggstn_pop input, .suggstn_pop select, .suggstn_pop textarea {
border: 1px solid #46A8DF;
padding: 8px 10px;
}
.sort_select {
border: 1px solid #808080;
border-radius: 5px;
font-size: 15px;
padding: 5px 10px 5px 10px;
outline: none;
}
.suggstn_pop #current_total {
background: #EEEEEE;
}
.suggstn_pop input {
text-align: right;
}

.sugst_price_sym {
margin: 8px;
color: #303030 !important;
font-weight: normal !important;
font-family: 'open_sansregular' !important;
display: inline-block;
}
.send_suggstn {
background: #ff5964;
color: #FFFFFF;
border-radius: 20px;
font-family: 'roboto_slabbold';
padding: 10px;
text-transform: uppercase;
float: right;
width: 200px;
text-align: center;
}
.cancl_suggst{
	padding: 0 25px;
	top: 10px !important;
	position: relative;
}

.res_cent::before {
    border-color: rgba(70, 168, 223, 0) rgba(70, 168, 223, 0) rgba(70, 168, 223, 0) #217db4;
    border-width: 11px;
    margin-top: -31px;
}
.use_pic{
	padding-bottom: 20px;
}
.status_cont{
	border: 0px solid #dce0e0 !important;
}
.btn_dash::before {
    background: currentcolor none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.2);
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
    width: 100%;
    z-index: -1;
}
.btn_dash{
  background: #ff5964 none repeat scroll 0 0;
    border-color: transparent;
    border-radius: 50px;
    border-width: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
}
.reqst_status li{
	font-size: 14px;
	font-weight: 100;
}
.btn_dash:hover::before, .btn_dash:focus::before {
    opacity: 0.15;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
}
.btn_dash span{
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
}
.btn_dash:hover, .btn_dash:focus {
    box-shadow: 0 1px 8px rgba(58, 51, 53, 0.4);
    transform: scale(1.1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
}
.res_cent::after
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff;
    border-width: 10px;
    margin-top: -30px;
}
.res_cent ::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    pointer-events: none;
    position: absolute;
    top: 20%;
    width: 0;
}
.ul_box ul#nav li {
    border-bottom: 1px dashed #c0c0c0;
    font-size: 16px;
    text-align: left;
    padding-top: 20px !important;
    
}
.single_angle_dshbrd{
    color: #f0563d;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin-right: 15px;
   }
.ul_box{
	top: 0px !important;
}
.ul_box{
	background: #F4F4F4 none repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    padding-left: 70px;
    padding-right: 0;
    padding-top: 5px;
    top: auto;
    width: 25%;
}
#expire{
	text-align: left;
}
.res_cent {
    font-family: "open_sansregular";
    position: relative;
   /* border: 1px solid #ff5a5f;*/
    padding: 10px;
    margin: 10px 0px 20px;
    background: #FFF none repeat scroll 0% 0%;
}
.res_cent::after, .res_cent::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 100%;
    pointer-events: none;
    position: absolute;
    top: 20%;
    width: 0;
   }
   .reqst_status {
    color: #aaaaaa;
    font-family: "open_sansregular";
    font-size: 12px;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
   }
 .reqst_status{
	color:#AAAAAA;
	text-transform:uppercase;
	font-family:'open_sansregular';
	font-size:12px;
	overflow:hidden;
	padding: 0 15px;
}
.reqst_status li{
	float:left;
	margin:5px 10px 5px 0;
	position: relative;
	padding-left:15px;
}
.reqst_status li span{
	border:1px solid #AAAAAA;
	border-radius:20px;
	padding: 0 5px;
	text-align:center;
	margin-right:5px;
}
.req_stats_actv{
	color:#46A8DF;
}
.req_stats_actv span{
	color:#FFFFFF;
	background:#46A8DF;
	border:1px solid #46A8DF !important;
}
.reqst_status > li:first-child:before{
	display: none;
}
.reqst_status > li:first-child{
	padding:0;
}
.reqst_status > li:before { display: inline-block; position: absolute; top: 3px; left: 0; font-size: 14px;
font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f105"; }
.resev_status {
    background: #FF8E91 none repeat scroll 0 0;
color: #ffffff;
font-family: "open_sansregular";
font-size: 16px;
padding: 9px 14px;
position: absolute;
right: 0px;
text-transform: capitalize;
top: 16px;
z-index: 1;
}
#details_breakdown_1 {
 /*
 background: none repeat scroll 0 0 #ffaeb6 ;
     border: 1px solid #ff5a5f;
     border-radius: 10px;
     margin: 0 0 10px;
     min-height: 1%;*/
 
}
#details_breakdown_1 .label {
/* background: none repeat scroll 0 0 #ffaeb6;
    border-bottom: 1px dashed #ff5a5f;*/
    color: #000000;
    float: left;
    padding: 0px 15px;
    text-align: right;
    /*width: 100%;*/
}
#details_breakdown_1 .bottom .label {
-moz-border-radius: 0px 0 0 10px; /* Firefox */
-webkit-border-radius: 0px 0 0 10px; /* Safari and Chrome */
-khtml-border-radius: 0px 0 0 10px; /* Linux browsers */
border-radius: 0px 0 0 10px;/* Opera 10.50, IE and CSS3 */
border-bottom:none;
}
#details_breakdown_1 .data {
  /*
   background: none repeat scroll 0 0 #fff;
      border-bottom: 1px dashed #ff5a5f;
      border-left: 1px solid #ff5a5f;
      display: block;
      float: right;*/
      padding: 0px 10px !important;
  
}
span{
	color: #484848;
}
#details_breakdown_1 .bottom .data {
border-bottom:none;
-moz-border-radius:0 0 10px 0;
-webkit-border-radius:0 0 10px 0;
-khtml-border-radius: 0 0 10px 0;
border-radius: 0 0 10px 0;
}
#details_breakdown_1 .top .data {
-moz-border-radius:0 10px 0 0;
-webkit-border-radius:0 10px 0 0;
-khtml-border-radius: 0 10px 0 0;
border-radius: 0 10px 0 0;
}
#details_breakdown_1 .Reserve_Decline {
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
padding:5px 10px;
margin:0 10px 0 0;
color:#fff;
font-size:14px;
font-weight:bold;
background:#AA1100 url(images/arrowreserve.gif) no-repeat 93% 7px;
padding:10px;
display:inline-block;
}
#details_breakdown_1  .Reserve_Accept{
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
background:#819f2a url(images/arrowreserve.gif) no-repeat 93% -1px;
padding:10px;
color:#fff;
font-size:14px;
display:inline-block;
font-weight:bold;
text-align: center;
}	
#details_breakdown_1  .Reserve_approve{
-moz-border-radius:0px; /* Firefox */
-webkit-border-radius:0px; /* Safari and Chrome */
-khtml-border-radius:0px; /* Linux browsers */
border-radius:0px; /* Opera 10.50, IE and CSS3 */
background:#819f2a url(images/arrowreserve.gif) no-repeat 93% 5px;
padding:10px 0 10px 10px;
width:100%;
color:#fff;
font-size:14px;
display:inline-block;
font-weight:bold;
}
#details_breakdown_1  .Reserve_special{
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
background:#819f2a url(images/arrowreserve.gif) no-repeat 93% -1px;
padding:5px 0 5px 10px;
width:100%;
color:#fff;
font-size:14px;
display:inline-block;
font-weight:bold;
}
#details_breakdown_1 .Reserve_decline_contact {
-moz-border-radius:0px; /* Firefox */
-webkit-border-radius:0px; /* Safari and Chrome */
-khtml-border-radius:0px; /* Linux browsers */
border-radius:0px; /* Opera 10.50, IE and CSS3 */

padding:5px 10px;
margin:0 10px 0 0;
color:#fff;
font-size:14px;
font-weight:bold;
background:#AA1100 url(images/arrowreserve.gif) no-repeat 93% 5px;
padding:10px 0 10px 10px;
width:100%;
display:inline-block;
}
#details_breakdown_1  .Reserve_discuss{
	
-moz-border-radius:0px; /* Firefox */
-webkit-border-radius:0px; /* Safari and Chrome */
-khtml-border-radius:0px; /* Linux browsers */
border-radius:0px; /* Opera 10.50, IE and CSS3 */

background:#819f2a url(images/arrowreserve.gif) no-repeat 93% 5px;
padding:10px 0 10px 10px;
width:100%;
color:#fff;
font-size:14px;
display:inline-block;
font-weight:bold;
}
#details_breakdown_1 .Reserve_Accept:hover,#details_breakdown_1 .Reserve_decline_contact:hover,#details_breakdown_1  .Reserve_approve:hover,#details_breakdown_1  .Reserve_discuss:hover, #details_breakdown_1 .Reserve_Decline:hover, #details_breakdown_1 .Reserve_click:hover {
text-decoration:none;
}
#details_breakdown_1 .Reserve_click {
-moz-border-radius:5px 5px 0 0; /* Firefox */
-webkit-border-radius:5px 5px 0 0; /* Safari and Chrome */
-khtml-border-radius:5px 5px 0 0; /* Linux browsers */
border-radius:5px 5px 0 0; /* Opera 10.50, IE and CSS3 */
background:#fff url(images/arrowreserve_click.gif) no-repeat 93% -1px;
padding:5px 23px 5px 10px;
border-left:1px solid #D1D1C9;
border-right:1px solid #D1D1C9;
border-top:1px solid #D1D1C9;
font-size:14px;
font-weight:bold;
}
#details_breakdown_1 #accept {
border-left:1px solid #D1D1C9;
border-right:1px solid #D1D1C9;
border-bottom:1px solid #D1D1C9;
border-top:1px solid #D1D1C9;
background:url(images/book_tabber_bg.png) repeat-x scroll center bottom #fff;
padding:10px 10px 0 10px;
margin-top: -1px;
-moz-border-radius:0 5px 5px 5px; /* Firefox */
-webkit-border-radius:0 5px 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 5px 5px 5px; /* Linux browsers */
border-radius:0 5px 5px 5px; /* Opera 10.50, IE and CSS3 */
}
#details_breakdown_1 #decline {
border-left:1px solid #D1D1C9;
border-right:1px solid #D1D1C9;
border-bottom:1px solid #D1D1C9;
border-top:1px solid #D1D1C9;
margin-top: 3px;
background:url(images/book_tabber_bg.png) repeat-x scroll center bottom #FFFFFF;
padding:10px 10px 0 10px;
-moz-border-radius:0 5px 5px 5px; /* Firefox */
-webkit-border-radius:0 5px 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 5px 5px 5px; /* Linux browsers */
border-radius:0 5px 5px 5px; /* Opera 10.50, IE and CSS3 */
}
#nav > li:hover {
left: px;
position: relative;
-webkit-transition: left 0.15s ease-out 0s;
-moz-transition: left 0.15s ease-out 0s;
-o-transition: left 0.15s ease-out 0s;
transition: left 0.15s ease-out 0s;
margin-left: 0px !important;
}
#circle{
	border-radius: 50%;
}
#details_breakdown_1 #discuss_form {
border-left:1px solid #D1D1C9;
border-right:1px solid #D1D1C9;
border-bottom:1px solid #D1D1C9;
border-top:1px solid #D1D1C9;
margin-top: -1px;
background:url(images/book_tabber_bg.png) repeat-x scroll center bottom #FFFFFF;
padding:10px 10px 10px 10px;
-moz-border-radius:0 5px 5px 5px; /* Firefox */
-webkit-border-radius:0 5px 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 5px 5px 5px; /* Linux browsers */
border-radius:0 5px 5px 5px; /* Opera 10.50, IE and CSS3 */
}
#details_breakdown_1 #special_form {
border-left:1px solid #D1D1C9;
border-right:1px solid #D1D1C9;
border-bottom:1px solid #D1D1C9;
border-top:1px solid #D1D1C9;
margin-top: -1px;
background:url(images/book_tabber_bg.png) repeat-x scroll center bottom #FFFFFF;
padding:10px 10px 10px 10px;
-moz-border-radius:0 5px 5px 5px; /* Firefox */
-webkit-border-radius:0 5px 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 5px 5px 5px; /* Linux browsers */
border-radius:0 5px 5px 5px; /* Opera 10.50, IE and CSS3 */
}
#details_breakdown_1 #approve_form {
border-left:1px solid #D1D1C9;
border-right:1px solid #D1D1C9;
border-bottom:1px solid #D1D1C9;
border-top:1px solid #D1D1C9;
margin-top: -1px;
background:url(images/book_tabber_bg.png) repeat-x scroll center bottom #FFFFFF;
padding:10px 10px 10px 10px;
-moz-border-radius:0 5px 5px 5px; /* Firefox */
-webkit-border-radius:0 5px 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 5px 5px 5px; /* Linux browsers */
border-radius:0 5px 5px 5px; /* Opera 10.50, IE and CSS3 */
}
#details_breakdown_1 .accept_button {
-moz-border-radius:0px; /* Firefox */
-webkit-border-radius:0px; /* Safari and Chrome */
-khtml-border-radius:0px; /* Linux browsers */
border-radius:50px; /* Opera 10.50, IE and CSS3 */
background:#819f2a;
border:none;
color:#fff;
padding:10px;
border:none !important;
font-weight:bold;
float: right;
margin-right: 10px;
}
#details_breakdown_1 .decline_button {
-moz-border-radius:0px; /* Firefox */
-webkit-border-radius:0px; /* Safari and Chrome */
-khtml-border-radius:0px; /* Linux browsers */
border-radius: 50px; /* Opera 10.50, IE and CSS3 */
background:#AA1100;
border:none;
border:none !important;
color:#fff;
padding:10px;
font-weight:bold;
}
#details_breakdown_1 #decline p, #details_breakdown_1 #accept p,#discuss_form p,#approve_form p,#special_form p {
padding:0 0 10px 0;
}



/* Conversation */
#Conversation_Blk .Convers_left {
	padding-top: 0;
}
#Conversation_Blk .Convers_Rgt {
}
#Conversation_Blk .Convers_Rgt #quick_links li {
padding:0 0 10px 0;
}
.clsConever_Bred {
/* background: url("images/conever_bred_bg.png") repeat-x scroll center top transparent;*/
background:#F56954;
line-height:45px;
-moz-border-radius:5px 5px 0 0; /* Firefox */
-webkit-border-radius:5px 5px 0 0; /* Safari and Chrome */
-khtml-border-radius:5px 5px 0 0; /* Linux browsers */
border-radius:5px 5px 0 0; /* Opera 10.50, IE and CSS3 */
 /*border-right: 1px solid #2c92d4;
  border-top: 1px solid #2c92d4;
   border-left: 1px solid #2c92d4;*/
}
.clsConever_Bred li {
float:left;
color:#fff;
padding:0 10px;
}
.clsConever_Bred li a{
display:block;
padding:0 21px 0 0;
background:url(images/conver_bread_bor.png) no-repeat right center;
color:#fff !important;
text-transform: uppercase;
}
.clsConver_Porfile_Blk {

padding:10px;
-moz-border-radius:0 0 5px 5px; /* Firefox */
-webkit-border-radius:0 0 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 0 5px 5px; /* Linux browsers */
border-radius:0 0 5px 5px; /* Opera 10.50, IE and CSS3 */
   border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
	 border-bottom: 1px solid #E6E6E6;
	
}
.clsConver_Pro_Img {
margin:0 10px 0 0;
width:75px;
}
.clsConverPro_Name_Des {
font-weight:bold;
}
.clsConverPro_Name_Des h3 a:hover {
text-decoration:none;
}
.clsConverPro_Name_Des p span {
font-style:italic;
font-weight: normal;
}
.clsConver_Pro_Img img  {
padding:1px;
border:1px solid #C0C0C0;
background:#fff;
}
#selconver_pane_inner {
margin:10px 0 10px;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
padding:10px;
}
.clsConSamll_Pro_Img img {
height:50px;
width:50px;
padding:2px;
border:1px solid #D3D1C4;
}
.clsType_Conver {
/*background:url(images/edit_lsit_top.png) repeat-x scroll center bottom #FFFFFF;*/
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
padding:10px;
border: 1px solid #C0C0C0;
}
.clsType_Conver  {
position:relative;
}
.clsConSamll_Pro_Img  {
text-align:center;
/*margin:0 10px 0 0;*/
overflow: hidden;
}
.clsType_Conver textarea {
width: 100%;
text-align:left;
height: 60px;
border: 1px solid #C0C0C0;
background:#fff;
padding:5px;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
-o-box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
-moz-box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
-webkit-box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
margin:0 0 10px 0;
}
.clsType_Conver textarea:focus {
    border-color: #00b0ff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08) inset, 0 0 2px 2px #ceeaf6;
    outline: 0 none;
}
#selconver_pane_inner li {
margin:0 0 15px 0;
clear:both;
}
.clsTypeCon_LArrow {
background:url(images/arrow_right1.png) no-repeat left top;
height:31px;
width:9px;
position:absolute;
left: -8px;
top:3px;
}
.TypeConver_Head {
/*background:url("images/edit_lsit_top.png") repeat-x scroll center bottom #FFFFFF;*/
border-left: 1px solid #C0C0C0;
border-right: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
padding:15px 10px;
text-align:center;
-moz-border-radius:5px 5px 0 0; /* Firefox */
-webkit-border-radius:5px 5px 0 0; /* Safari and Chrome */
-khtml-border-radius:5px 5px 0 0; /* Linux browsers */
border-radius:5px 5px 0 0; /* Opera 10.50, IE and CSS3 */\
border:1px solid #C0C0C0;
position:relative;
}
.TypeConver_Ans {
word-wrap: break-word;
}
.TypeConver_Inner {
background:#fff;
-moz-border-radius:0 0 5px 5px; /* Firefox */
-webkit-border-radius:0 0 5px 5px; /* Safari and Chrome */
-khtml-border-radius:0 0 5px 5px; /* Linux browsers */
border-radius:0 0 5px 5px; /* Opera 10.50, IE and CSS3 */
padding:10px;
border: 1px solid #C0C0C0;
}
.TypeConver_Inner_SRgt {
/* Single Top Right (White) - Sankar */
background:#fff;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
padding:10px;
border: 1px solid #C0C0C0;
position:relative;
}
.TypeConver_Inner_SLft {
/* Single Top Left (White) - Sankar */
background:#fff;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
padding:10px;
border: 1px solid #C0C0C0;
position:relative;
}
.clsTypeCon_SRArrow {
/* Single Top Right Arrow (White) - Sankar */
/*background:url(images/arrow_left1.png) no-repeat left top;*/
height:31px;
width:9px;
position:absolute;
left: 503px;
top:3px;
}
.clsTypeCon_SLArrow {
/* Single Top Left Arrow (White)- Sankar */
background:url(images/arrow_right1.png) no-repeat left top;
height:31px;
width:9px;
position:absolute;
left: -7px;
top:3px;
}
.clsTypeConver_Arow1 {
/*background:url(images/arrow_right1.png) no-repeat left top;*/
height:31px;
width:9px;
position:absolute;
left: -7px;
top:-5px;
}
.TypeAns_Right .clsTypeConver_Arow1 {
/* TypeAns_Right for Right side arrow ( Double Top & bottom) - Coomon li class name (TypeAns_Right) 
background:url(images/arrow_left1.png) no-repeat left top;*/
position:absolute;
left: 546px;
}
.TypeConver_Head label:first-child {
margin:0 10px 0 0;
}
.TypeConver_Head p a{
font-weight:bold;
}
.TypeAns_Right .clsConSamll_Pro_Img {
/*margin:0 0px 0 10px;*/
}
#selconver_pane_inner li.TypeAns_Right {
/*margin:0 0px 15px 5px;*/
}
.clsConverPro_Name_Des {
text-shadow:1px 1px #fff;
}

/* Reviews */
.clsVReview_Left {
/*width:95px;*/
}
.clsVReview_Right {
/*width:540px;*/
}
.clsVReview_Right .VR_TxtAreaBg {
width: 100%;
text-align:left;
height: 60px;
border: 1px solid #C0C0C0;
background:#fff;
padding:5px;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
-o-box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
-moz-box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
-webkit-box-shadow:inset 0 2px 3px 0 rgba(0,0,0,0.15);
}
.VReview_Pbc {
background:#3EA2CE;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
color:#fff;
font-weight:bold;
width:auto;
text-align:center;
padding:5px;
}
.VReview_Pvt {
background:#C0C0C0;
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius:5px; /* Safari and Chrome */
-khtml-border-radius:5px; /* Linux browsers */
border-radius:5px; /* Opera 10.50, IE and CSS3 */
color:#fff;
font-weight:bold;
width:auto;
text-align:center;
padding:5px;
}
.clsVReview_Right h3 {
text-transform:capitalize;
font-size:16px;
margin:0 0 10px 0;
}
#View_Review_Blk {
margin:20px 0 0;
}
.status1{
	text-align:left;
}
.status2{
	padding: 10px 10px 34px;
}
.pad_lef{
	padding-left: 15px !important;
	padding-right:0px !important;
}
.mar_top{
margin-top:10px !important;
}
.inb_top{
	padding:14px !important;
}
.req_head.padding-zero {
    float: left;
    padding-left: 15px !important;
}
.con_mar{
	margin-top:0px !important;
}
form{
	overflow: hidden;
padding-left: 5px;
text-align: left;
}
.pad_rig{
	padding-left: 50px !important;
}
#details_breakdown_1 .Reserve_Decline:hover{
	background:#7e0000 url("images/arrowreserve.gif") no-repeat scroll 93% 7px;
}
#details_breakdown_1 .accept_button:hover
{
	background:#76941f;
}
#details_breakdown_1 .decline_button:hover
{
background:#7e0000;	
}
#details_breakdown_1 .Reserve_Accept:hover{
	background:#76941f url("images/arrowreserve.gif") no-repeat scroll 93% 7px
}
.user_name_con
{
	font-size: 13px;
    word-break: break-all;
}
#hover-test2,#hover-test3,#hover-test1
{
	display:inline-block;
}
.Frm_Error_Msg {
    color: red;
    float: left;
    margin-top: 5px;
    padding-left: 3px;
}
@media (min-width:300px) and (max-width:767px){
	.pad_lef{
		padding-left:0px !important;
	}
	.clear.clean_text
	{
	height:83px;
	}
	#hover-test2,#hover-test3,#hover-test1
	{
		margin:4px !important;
	}
	.View_MyPrint{
	padding: 0 0 5px 30px !important;	
	}
	.req_head.padding-zero{
		padding-left: 0px !important;
	}
	.label.col-md-4.col-sm-5.col-xs-6 , #details_breakdown_1 .label{
		text-align: left !important;
		padding-right: 0px !important;
	padding-left: 0px !important;
	}
	.data.col-md-8.col-sm-7.col-xs-6{
		
	padding-right: 0px !important;
	padding-left: 0px !important;
	}
	
	.total_prc{
		margin-top: 2px !important;
	}
	.dashed_table_1.clearfix{
		padding-top: 20px;
	}
	.clsConSamll_Pro_Img_Big.col-md-2.col-xs-12.col-sm-3{
		margin: 0px !important;
	}
	.resev_status{
		top: 0px !important;
	}
}
@media (max-width: 767px) and (min-width: 300px){
#details_breakdown_1 .top .data {
border-radius: 0px !important;
}
#details_breakdown_1 .top .label {
border-radius:10px 10px 0 0 !important;
}
#details_breakdown_1 .data {
	border:none !important;
/*border-radius:0 0 10px 10px !important;*/
}
#details_breakdown_1 .bottom .label {
border-radius: 0px;
}
.pad_rig ,.pad_list_req{
padding-left: 15px !important;
padding-right:15px !important;
}
#details_breakdown_1 .bottom .data {
border-radius: 0 0 10px 10px;
}
}

